@media (min-width: 768px) {
    
    .container {
        width: 100%;
    }
    .cardContatInfos {
        display: flex;
        flex-direction: row;
        margin:2rem;
    }
    .AboutMe {
        position: absolute;  
        top: 19rem;
        margin-left: 4rem;
    }
}
@media (max-width: 768px) {
    
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
    }
    .cardContatInfos {
        display: flex;
        flex-direction: row;
        margin:1rem;
    }
    .AboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
